@tailwind base;
@tailwind components;
@tailwind utilities;

.darkgradient{
background: linear-gradient(180deg, #1F2937 0%, rgba(17, 24, 39, 0.00) 100%);
}

.whitebg{
  border-radius: 48px;
background: rgba(255, 255, 255, 0.75);
backdrop-filter: blur(12px);
}

.blurwhite{
  background-color: rgba(255, 255, 255, 1);
}

.blurorange{
  background-color: orange;
}

.tempbgdark{
  background: var(--Cool-Gray-Gradient-light, linear-gradient(180deg, #F9FAFB 0%, rgba(249, 250, 251, 0.00) 100%));
background-clip: text;
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
}

.tempbgwhite{
  background: var(--Cool-Gray-Gradient, linear-gradient(180deg, #111827 0%, #6B7280 100%));
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.selected{
  background-color: grey;
  color: white;
}